@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Schoolbell');

body {
    font-family: 'Schoolbell';
    background-color: #8F3417;
    color: #EC9C00;
}

.title{
    margin: auto;
    text-align: center;
    font-size: 100px;
}

.sub-title{
    margin: auto;
    text-align: center;
    font-size: 60px;
}

.button{
    background-color: #8F3417;
    color: black;
    border: solid 2px black;
}

.button:hover{
    background-color: #8F3417;
    color: #EC9C00;
    border: solid 2px #EC9C00;
}

.motto{
    text-align: center;
}