@import 'bootstrap/dist/css/bootstrap.min.css';

.card{
    background-color: #EC9C00;
    margin: 20px;
    color: black;
    text-decoration: none;
    width: '18rem';
    border: black solid 2px;
    border-radius: 30px;
}

.card-button{
    background-color: #8F3417;
    color: black;
    border: solid 2px black;
}

.card-button:hover{
    background-color: #8F3417;
    color: #EC9C00;
    border: solid 2px #EC9C00;
}

.card-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-image{
    max-height: 80%;
    max-width: 80%;
    text-align: center;
    margin: auto auto;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px black;
}

.show-card-image{
    height: 80%;
    max-height: 600px;
    max-width: 80%;
    text-align: center;
    margin: auto auto;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px black;
}

.card-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
