@import 'bootstrap/dist/css/bootstrap.min.css';



.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: black;
    margin: 20px;
}

.show-page-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.show-page-image-container{
    max-width: 50%;
    text-align: center;
}

.form-container{
    width: 75vw;
    height: 90%;
    background-color: #EC9C00;
    margin: auto auto;
    border: solid 2px black;
    border-radius:50px;
    margin-bottom: 20px;
}

.form input{
    background-color: #EC9C00;
    margin: 10px;
}

.form-button{
    background-color: #8F3417;
    color: black;
    border: solid 2px black;
}

.form-button:hover{
    background-color: #8F3417;
    color: #EC9C00;
    border: solid 2px #EC9C00;
}

.edit-icon{
    margin-left: 10px;
}

.label{
    display: inline-block;
}

.checkbox{
    filter: invert(100%) hue-rotate(360deg) brightness(1.7);
}

.error-message{
    color: black;
    text-align: center;
}